@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .padding-x {
    @apply px-5 sm:px-6 md:px-8 lg:px-10 xl:px-16 desktop:px-20 2xl:px-24 largesceen:px-52 fourk:px-[30rem];
  }

  .heading {
    @apply text-black text-2xl sm:text-3xl xl:text-4xl 2xl:text-[2.5rem] font-medium bg-green;
  }

  .heading-sm {
    @apply text-[0.688rem] small:text-xs md:text-sm xl:text-base 2xl:text-lg text-black  sm:w-[30rem] xl:w-[36.25rem] mt-3 small:mt-0;
  }

  .label {
    @apply w-fit h-fit py-1 px-2 rounded leading-none;
  }

  .h3 {
    @apply text-lg xs:text-xl sm:text-2xl xl:text-3xl;
  }

  .button {
    @apply transition-colors py-3 xl:py-5 px-4 xl:px-8 largesceen:px-8 text-sm xl:text-[0.938rem] largesceen:text-xl text-white text-center rounded-md desktop:rounded-xl bg-dark hover:bg-black;
  }

  .p {
    @apply text-[0.688rem] small:text-xs md:text-sm xl:text-base 2xl:text-lg;
  }

  .input-p {
    @apply text-base  md:text-sm xl:text-base 2xl:text-lg;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: Space;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Space';
  src: url('../public/fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
}

.scale-up-hor-right {
  -webkit-animation: scale-up-hor-right 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-hor-right 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-hor-right {
  0% {
    transform: scaleX(0.4);
    transform-origin: 100% 100%;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 100% 100%;
  }
}
@keyframes scale-up-hor-right {
  0% {
    transform: scaleX(0.4);
    transform-origin: 100% 100%;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 100% 100%;
  }
}

.tf__scroll_btn {
  animation: scroll_amini linear 2s infinite alternate;
  -webkit-animation: scroll_amini linear 2s infinite alternate;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}

@-webkit-keyframes scroll_amini {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

@keyframes scroll_amini {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

.animate-scroll_amini {
  animation: scroll_amini linear 2s infinite alternate;
  -webkit-animation: scroll_amini linear 2s infinite alternate;
}

.card-shadow {
  box-shadow: 0px 5px 0px 0px #191a23;
}

.swiper-slide {
  transition: flex 0.3s ease-in-out;
}

.subscribe {
  background: #b9ff66 !important;
  color: black;
}

@media (min-width: 640px) {
  .swiper-slide-active {
    flex: 2;
  }

  .swiper-slide-prev,
  .swiper-slide-next {
    flex: 1;
  }

  .small-screen-animation {
    data-aos: 'fade-up';
  }
}
